nav {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background: #fff;
}

.ai {
  color: #135d66;
}

.user-icon {
  width: 40px;
}

.profile-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.profile-wrapper .name {
  font-weight: 600;
}

.profile-wrapper .email {
  font-size: 0.8rem;
  color: #888;
}

.log-out,
.menu-anchor {
  display: flex;
  align-items: center;
  gap: 5px;
}

.log-out .log-out-icon,
.menu-items .main-icon {
  width: 20px;
  height: 20px;
}

.menu-items {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.menu-items a {
  padding: 5px 1rem;
}

.menu-items .active-menu {
  background: #135d66;

  color: white;
  border-radius: 20px;
}

.name-wrapper {
  display: flex;
  flex-direction: column;
}

.log-out,
.send-btn {
  font-size: 0.9rem;
  cursor: pointer;
  background: #fff;
  border: 2px solid #135d66;
  transition: 0.2s ease-in-out;
  padding: 5px 10px;
  border-radius: 4px;
  margin-left: 1rem;
}

.send-btn {
  margin: 0;
}

.log-out:hover,
.send-btn:hover {
  border: 2px solid #135d66;
  background: #135d66;
  color: #fff;
}

.dashboard-main {
  margin: 1.5rem;
  width: calc(100% - 4rem);
  background: white;
  padding: 1.5rem;
  min-height: calc(100vh - 3rem - 60px);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.grid {
  flex: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  height: 100%;
}

.grid .select-wrap {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.grid .select-wrap label {
  font-weight: 500;
  font-size: 0.9rem;
}

.box-wrapper select {
  width: 250px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.box-wrapper textarea {
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: auto;
  padding: 5px 10px;
}

.box-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.response-text {
  white-space: pre-wrap;
}

.modal-info-wrapper {
  background: #4d4d4d;
  padding: 1rem;
  color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: fit-content;
}

.rate-limits {
  font-size: 0.9rem;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  list-style-position: inside;
}

.rate-limits li {
  width: calc(50% - 10px);
}

.response-wrapper {
  padding: 1rem;
  border: 3px solid #666;
  border-radius: 8px;
  max-height: 70vh;
  height: 70vh;
  overflow: auto;
}

.response-wrapper h4 {
  margin-bottom: 1rem;
}

.metrics-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background: #135d66;
  color: white;
  border-radius: 8px;
}

.metrics-wrapper div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.metrics-wrapper .highlight {
  font-weight: 600;
}
.prompt-form {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.prompt-form input {
  width: 100%;
  height: 35px;
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.prompt-form button {
  height: 35px;
}
