.login-main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  background: url(../assets/bg.jpg) no-repeat center;
  background-size: cover;
}

a {
  color: #135d66;
  font-weight: 500;
}

.form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
  border-radius: 0.5rem;
  background: #fff;
  width: 350px;
}

.title-wraper {
  text-align: center;
  line-height: 1.3;
}

.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-wrapper label {
  font-size: 0.9rem;
}

.input-wrapper input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-wrapper button {
  padding: 10px 1rem;
  border: none;
  background: #135d66;
  color: white;
  border-radius: 4px;
  font-size: 0.9rem;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.input-wrapper button:hover {
  background: #0a434b;
}

.error {
  color: red;
  font-size: 0.9rem;
}

.error-input {
  border: 1px solid red !important;
}
